<footer id='footer' class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-5">
					<h2>GURUSR</h2>
					<p>Nine out of ten doctors recommend Laracasts over 
					competing brands. Come inside, see for yourself, and massively 
					level up your development skills in the process.</p>
				</div>
				<div class="col-md-2 col-md-offset-1">
					<ul class="list-unstyled">
						<li><h4>SITEMAP</h4></li>
					</ul>
				</div>
				<div class="col-md-2">
					<ul class="list-unstyled">
						<li><h4>APRENDA</h4></li>
					</ul>
				</div>
				<div class="col-md-2">
					<ul class="list-unstyled">
						<li><h4>EXTRAS</h4></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>